# put this in your systemd service directory. /etc/systemd/system/.
# make sure to enable at boot using systemctl enable <servicename>
# this is an alternative to fstab. fstab will not boot if mount fails, this will boot if mount fails. only use this if mount is not required for system to function

[Unit]
Description=<just whatever i want to call the mount>
After=network.target


# the ip and share name are the ip and name of the samba share such as 192.168.50.3/smbshare1
# username and pw are those configured w access to smb share. remove completely for guest access
#  user uuid is usually 1000, use command `id` to get
[Service]
Type=simple
User=root # can be different if do not need sudo
ExecStart=/bin/sh -c 'mount -t cifs //<ip>/<share name> /mnt/<mnt folder> -o username=<user>,password=<password>,uid=<user uuid>,rw'


[Install]
WantedBy=multi-user.target
